{% extends "default.twig" %}

{% block content %}
    <div class="home">

        <section class="jumbotron">
            <div class="container">
                <h1>
                    PHP-DI <strong>5</strong>
                </h1>
                <p>
                    The dependency injection container for humans
                </p>
                <p>
                    <a href="{{ baseUrl }}/doc/getting-started.html" class="btn btn-lg btn-primary">
                        Get started
                    </a>
                    <a href="{{ baseUrl }}/doc/" class="btn btn-lg btn-default">
                        Documentation
                    </a>
                </p>
            </div>
        </section>

        <section class="odd">
            <div class="container">

                <h2>Framework integrations</h2>

                <div class="row">
                    <div class="col-md-4">
                        <img class="framework-logo" src="{{ baseUrl }}/img/zf-logo.png" alt="Zend Framework 1 & 2">
                        <h5>Zend Framework 1 & 2</h5>

                        <p>
                            Integrates in Zend Framework 1 & 2.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-globe"></i>
                        <h5>Open</h5>

                        <p>
                            Integrates easily to your project or any framework.
                        </p>
                        <p>
                            Designed to work along with other containers.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="framework-logo" src="{{ baseUrl }}/img/symfony-logo.png" alt="Symfony 2">
                        <h5>Symfony 2</h5>

                        <p>
                            Integrates in Symfony 2 and works along with Symfony's default container.
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <section>
            {% include 'home_autowiring.twig' %}
        </section>

        <section class="odd">
            {% include 'home_configuration.twig' %}
        </section>

        <section>
            {% include 'home_modules.twig' %}
        </section>

        <section class="odd">
            {% include 'home_container.twig' %}
        </section>

    </div>

{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <div class='row'>
                <div class='col-md-6'>
                    <h5 class='footer-header'>Developed with care</h5>
                    <div class="row-fluid">
                        <ul class="list-unstyled col-md-6">
                            <li>
                                PSR-0, PSR-1 and PSR-2 compliant
                            </li>
                            <li>
                                Compliant with <a href="https://github.com/container-interop/container-interop">Container Interop</a>
                            </li>
                            <li>
                                Follows <a href="http://semver.org/">Semantic Versioning</a>
                            </li>
                        </ul>
                        <ul class="list-unstyled col-md-6">
                            <li>
                                <a href='https://travis-ci.org/mnapoli/PHP-DI'>
                                    <img src="https://img.shields.io/travis/mnapoli/PHP-DI.svg?style=flat-square"></a>
                            </li>
                            <li>
                                <a href='https://scrutinizer-ci.com/g/mnapoli/PHP-DI/'>
                                    <img src="https://img.shields.io/scrutinizer/g/mnapoli/PHP-DI.svg?style=flat-square"></a>
                            </li>
                            <li>
                                <a href='https://coveralls.io/r/mnapoli/PHP-DI?branch=master'>
                                    <img src="https://img.shields.io/coveralls/mnapoli/PHP-DI/master.svg?style=flat-square" alt='Coverage Status'></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='col-md-6'>
                    <h5>Contributors</h5>
                    <ul class='list-unstyled'>
                        <li class='col-md-1'>
                            <a class='thumbnail'>
                                <img src="images/test-user.png"/>
                            </a>
                        </li>
                        <li class='col-md-1'>
                            <a class='thumbnail'>
                                <img src="images/test-user.png"/>
                            </a>
                        </li>
                        <li class='col-md-1'>
                            <a class='thumbnail'>
                                <img src="images/test-user.png"/>
                            </a>
                        </li>
                        <li class='col-md-1'>
                            <a class='thumbnail'>
                                <img src="images/test-user.png"/>
                            </a>
                        </li>
                        <li class='col-md-1'>
                            <a class='thumbnail'>
                                <img src="images/test-user.png"/>
                            </a>
                        </li>
                        <li class='col-md-1'>
                            <a class='thumbnail'>
                                <img src="images/test-user.png"/>
                            </a>
                        </li>
                    </ul>
                    <p class="text-right">
                        <a href="https://github.com/mnapoli/PHP-DI/graphs/contributors">All contributors »</a>
                    </p>
                </div>
            </div>
            <div class='copyright'>
                Copyright &copy; 2014 <a href="http://mnapoli.fr">Matthieu Napoli</a>
                Website generated with
                <a href="http://mnapoli.fr/Couscous/" target="_blank">Couscous</a>.
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            var url = "https://api.github.com/repos/mnapoli/php-di/contributors?callback=?";

            $.getJSON(url, function (result) {
                var elem = $('.contributors');
                elem.empty();
                for (var i = 0; i < Math.min(result.data.length, 6); ++i) {
                    var img = result.data[i].avatar_url;
                    var name = result.data[i].login;
                    var url = result.data[i].html_url;
                    elem.append($("<li class='col-md-1'><a class='thumbnail' title='" + name + "' href='" + url + "'><img src='" + img + "'/></a></li>"));
                }
            });
        });
    </script>

{% endblock %}
