<div class="container framework-integrations">

    <h2>Integrations</h2>

    <p>
        PHP-DI integrates easily in your application or in frameworks.
    </p>

    <div class="row">

        <div class="col-sm-4">
            <img class="framework-logo" src="{{ baseUrl }}/img/zf-logo.png" alt="Zend Framework 1">
            <h4>
                <a href="{{ baseUrl }}/doc/frameworks/zf1.html">Zend Framework 1</a>
            </h4>
        </div>

        <div class="col-sm-4">
            <img class="framework-logo" src="{{ baseUrl }}/img/symfony-logo.png" alt="Symfony 2">
            <h4>
                <a href="{{ baseUrl }}/doc/frameworks/symfony2.html">Symfony 2</a>
            </h4>
        </div>

        <div class="col-sm-4">
            <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-terminal fa-stack-1x fa-white"></i>
            </span>
            <h4>
                <a href="{{ baseUrl }}/doc/frameworks/silly.html">Silly</a>
            </h4>
        </div>

    </div>

</div>